body {
  background-color: antiquewhite;
}

p,
li,
span {
  color: rgb(142, 127, 108);
}

h2 {
  color: rgb(173, 85, 53);
}

section {
  background-color: rgb(255, 236, 239);
  padding: 10px 30px;
  border-radius: 10px;
}

.main-section {
  margin: 100px auto;
  width: 500px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

.img {
  width: 100%;
  border-radius: 15px;
}
